**/node_modules
**/.DS_Store
**/.env
**/.vscode
**/dist
**/coverage
**/cypress/videos
**/cypress/screenshots
**/cypress/downloads
**/.netlify
**/bundle
**/build
**/.*-error.log
**/build
**/_build
**/deps
elixir-api/cover

# Dependencies
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
