// Tailwind imports
@tailwind base;
@tailwind components;
@tailwind utilities;

// Tailwind combined classes
.categoryTag {
  @apply font-code text-base capitalize px-2 py-1 bg-slate-200 dark:bg-slate-900 hover:bg-slate-200/50 dark:hover:bg-slate-700/50 hover:shadow-[0_0_10px_-6px_var(--tw-shadow)] hover:shadow-slate-800/60 dark:hover:shadow-[0_0_12px_-2px_var(--tw-shadow)] dark:hover:shadow-slate-500/40 rounded-md transition-[color,background-color,box-shadow];

  &-sm {
    @apply font-code text-sm capitalize px-2 py-1 bg-slate-300 dark:bg-slate-800 hover:bg-slate-300/60 dark:hover:bg-slate-600/50 hover:shadow-[0_0_10px_-6px_var(--tw-shadow)] hover:shadow-slate-800/30 dark:hover:shadow-[0_0_12px_-2px_var(--tw-shadow)] dark:hover:shadow-slate-500/40 rounded-md transition-[color,background-color,box-shadow];
  }
}
.roundedCard {
  @apply bg-slate-200 dark:bg-slate-900 transition-colors;

  &-md {
    @apply bg-slate-200 dark:bg-slate-900 transition-colors rounded-lg;
  }
  &-lg {
    @apply bg-slate-200 dark:bg-slate-900 transition-colors rounded-xl;
  }
}

// Global styles
body,
html {
  height: 100vh;
  transition: background 150ms ease;
}

body,
html,
div,
span,
p,
img {
  box-sizing: border-box;
}

body {
  background-color: #0f172a;
  --textColour: #f1f5f9;

  &.light {
    background-color: #e2e8f0;
    --textColour: #0f172a;
  }
  &:not(.is-loaded) {
    cursor: progress !important;
    &:not(.app-loaded) {
      cursor: wait !important;
    }
  }
  &.is-loading a,
  &.is-loading button,
  &.is-loading [role='button'] {
    cursor: progress !important;
  }
}

::selection {
  background: #34d399;
  color: #1e293b;
}

.pixel {
  image-rendering: pixelated !important;
}

.click-through {
  pointer-events: none;

  a,
  button {
    pointer-events: visible;
  }
}
