<!DOCTYPE html>
<html lang="en" style="overflow-x:hidden;overflow-y:scroll;">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="/styles.css">
	<title>Portfolio - kio.dev</title>
	<link rel="apple-touch-icon" href="/img/ico/apple-touch-icon.png">
	<link rel="icon" type="image/png" sizes="32x32" href="/img/ico/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="/img/ico/favicon-16x16.png">
</head>
<body class="bg-black">
	<div class="flex flex-row min-h-screen justify-center items-center p-2">
		<div class="flex flex-col columns-1 justify-center items-center px-4">
			<div class="flex flex-col items-center">
				<img src="/img/logo.png" alt="logo" class="h-40 w-40">
			</div>
			<div class="flex flex-col items-center max-w-sm mt-4 pl-2">
				<div class="flex flex-col items-start">
					<h3 class="text-white mt-8 text-lg font-medium tracking-light">About</h3>
					<p class="text-slate-300 mt-4 text-sm">I'm Kio - a visual artist, developer, musician, and CS student from Atlantic Canada.</p>
				</div>
				<div class="flex flex-col items-start">
					<h3 class="text-white mt-8 text-lg font-medium tracking-light">Contact</h3>
					<p class="text-slate-300 mt-4 text-sm">You can email <a href="mailto:hi@kio.dev" class="font-bold hover:text-purple-200">hi@kio.dev</a> or view my social links at <a href="https://kio.social" target="_blank" class="font-bold hover:text-purple-200">https://kio.social</a>.</p>
				</div>
			</div>
			<div class="flex flex-row items-center mt-16">
				<a href="#" class="font-bold text-slate-300 hover:text-purple-200 text-sm">Visual Art</a>
				<span class="text-slate-300 px-4">/</span>
				<a href="#" class="font-bold text-slate-300 hover:text-purple-200 text-sm">Development</a>
				<span class="text-slate-300 px-4">/</span>
				<a href="#" class="font-bold text-slate-300 hover:text-purple-200 text-sm">Music</a>
			</div>
		</div>
	</div>
</body>
</html>
