.header__filteritem {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
	color: var(--text-primary);
	font-family: 'Work Sans', monospace;
	font-weight: 400;
	padding: 0;
	margin: 0;
	font-size: 1.1rem;
	text-decoration: none;

	&:hover {
		text-shadow: 0 0 14px var(--shadow-accent);
		text-decoration: underline;
	}
}
