{
  "parserOptions": {
    "sourceType": "module",
    "ecmaVersion": "latest"
  },
  "env": {
    "browser": true,
    "es2017": true,
    "node": true
  },
  "extends": [
    "@sanity/eslint-config-studio",
    "eslint:recommended"
  ],
  "rules": {
    "array-bracket-spacing": ["error", "never"],
    "arrow-spacing": ["error"],
    "block-scoped-var": ["error"],
    "block-spacing": ["error"],
    "brace-style": ["error", "1tbs"],
    "comma-dangle": ["error", "never"],
    "comma-spacing": ["error"],
    "comma-style": ["error"],
    "curly": ["error"],
    "dot-notation": ["error"],
    "eqeqeq": ["error"],
    "func-call-spacing": ["error", "never"],
    "indent": ["error", 2],
    "key-spacing": ["error"],
    "keyword-spacing": ["error"],
    "linebreak-style": ["error"],
    "no-confusing-arrow": ["error"],
    "no-duplicate-imports": ["error"],
    "no-trailing-spaces": ["error"],
    "no-var": ["error"],
    "no-eval": ["error"],
    "no-extra-bind": ["error"],
    "no-implicit-globals": ["error"],
    "no-implied-eval": ["error"],
    "no-loop-func": ["error"],
    "no-multi-spaces": ["error"],
    "no-prototype-builtins": ["error"],
    "no-redeclare": ["error"],
    "no-setter-return": ["error"],
    "no-script-url": ["error"],
    "object-shorthand": ["error"],
    "one-var-declaration-per-line": ["error"],
    "quotes": ["error", "single", { "avoidEscape": true }],
    "quote-props": ["error", "as-needed"],
    "semi": ["error", "always"],
    "semi-spacing": ["error"],
    "space-in-parens": ["error", "never"],
    "spaced-comment": [
      "error",
      "always",
      {
        "block": { "balanced": true }
      }
    ]
  },
  "ignorePatterns": [
    "**/.DS_Store",
    "**/*.cjs",
    "**/node_modules",
    "**/dist",
    "**/build",
    "**/.svelte-kit/**",
    "**/package",
    "**/.env",
    "**/.env.*",
    "**/pnpm-lock.yaml",
    "**/package-lock.json",
    "**/yarn.lock",
    "**/scripts/**/*.js"
  ]
}
