# Dependencies
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

# Compiled studio
/dist

# Temp runtime
/.sanity

# Logs
/logs
*.log

# Coverage
/coverage

# Misc
.DS_Store
*.pem
*.tsbuildinfo
