.app {
	background-color: var(--background-primary);
	font-family: var(--font-base);
}

.app__primarybg {
	background-color: var(--background-primary);
}

.app__container {
	width: 100%;
	min-height: 100vh;

	display: flex;
	flex-direction: row;
}
