@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;700;800&family=Roboto+Mono:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&family=Roboto:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&family=Ubuntu+Mono:ital,wght@0,400;0,700;1,400;1,700&family=Ubuntu:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;1,100;1,200;1,300;1,400&display=swap');

:root {
	--background-primary: #dce3e9;
	--background-secondary: #1c1c1c;

	--shadow-primary: #ffffff2c;
	--shadow-secondary: #ebebeb2c;
	--shadow-accent: #bd93f99d;

	--border-primary: #ffffff2e;

	--border-radius-primary: 15px;
	--border-radius-secondary: 10px;
	--border-radius-tertiary: 0px;

	--text-primary: #111111;
	--text-secondary: #646464;

	--accent-primary: #bd93f9;
	--accent-secondary: #50fa7b;

	--black-colour: #111111;
	--white-colour: #ffffff;
	--gray-colour: #808080;

	--font-base: "DM Sans", sans-serif;
}

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	scroll-behavior: smooth;
	cursor: none;
}

html {
	background-color: var(--background-primary);
}

.app__no-select {
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.app__cursor {
	width: 2rem;
	height: 2rem;
	border: 2px solid rgba(0, 0, 0, 0.8);
	border-radius: 50%;
	position: fixed;
	transform: translate(-50%, -50%);
	pointer-events: none;
	z-index: 90000;
	transition: border 200ms ease;
	-moz-transition: border 200ms ease;
	-webkit-transition: border 200ms ease;
	-o-transition: border 200ms ease;
	
}
.app__cursor.cursor-hover {
	border: 28px solid rgba(0, 0, 0, 0.2);
}
.app__cursor.cursor-click {
	border: 16px solid rgba(0, 0, 0, 0.6);
}
