@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;700;800&family=Roboto+Mono:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&family=Roboto:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&family=Ubuntu+Mono:ital,wght@0,400;0,700;1,400;1,700&family=Ubuntu:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;1,100;1,200;1,300;1,400&display=swap');

:root {
	--background-primary: #dce3e9;
	--background-secondary: #c1c9d1;
	--background-tertiary: #86898b;

	--shape-primary: #b6bec481;

	--shadow-primary: #57575738;
	--shadow-secondary: #8f8f8f38;
	--shadow-accent: #b48ee9a4;

	--border-primary: #111111d0;

	--border-radius-primary: .6rem;
	--border-radius-secondary: .2rem;
	--border-radius-tertiary: 0;

	--text-primary: #111111;
	--text-secondary: #646464;

	--accent-primary: #c69efd;
	--accent-secondary: #51f89c;

	--colour-black: #111111;
	--colour-white: #ffffff;
	--colour-gray: #808080;

	--font-title: "Poppins", sans-serif;
	--font-mono: "Work Sans", monospace;
	--font-body: "Roboto", sans-serif;
	--font-code: "Ubuntu Mono", monospace;
}

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	scroll-behavior: smooth;
	cursor: none;
}

html {
	background-color: var(--background-primary);
	min-height: 100%;
	overflow-y: hidden scroll;
	overflow-x: hidden;
}

// .app {
// 	padding: 0 4rem;
// 	max-width: 70rem;
// 	margin: 0 auto;
// }

.app__no-select {
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.app__cursor {
	width: 1.6rem;
	height: 1.6rem;
	border: 2px solid rgba(255, 255, 255, 0.8);
	border-radius: 50%;
	position: fixed;
	transform: translate(-50%, -50%);
	pointer-events: none;
	z-index: 90000;
	transition: border 200ms ease;
	-moz-transition: border 200ms ease;
	-webkit-transition: border 200ms ease;
	-o-transition: border 200ms ease;
	mix-blend-mode: difference;
	
}
.app__cursor.cursor-hover {
	border: 1.4rem solid rgba(255, 255, 255, 0.2);
}
.app__cursor.cursor-click {
	border: .84rem solid rgba(255, 255, 255, 0.6);
}
