.app__header {
  flex: 1;
  flex-direction: column;
  height: 100%;
  width: 100%;
  padding: 4rem 4rem 3rem 4rem;
  max-width: 70rem;
  margin: 0 auto;
  transition: all 500ms cubic-bezier(0.455, 0.03, 0.515, 0.955);

  @media screen and (min-width: 2000px) {
    padding: 6rem 4rem 4rem 4rem;
  }
  @media screen and (max-width: 600px) {
    padding: 1rem 1rem;
  }
}

.app__header-row {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  margin: 0 0 2rem 0;
}

.app__header-col {
  display: flex;
  height: 100%;
  width: 9rem;
  justify-content: flex-start;
  align-items: center;
  margin: 0 4rem 0 0;

  &:first-of-type {
    width: 6rem;

    @media screen and (max-width: 600px) {

    }
  }
}

.app__header-logo {
  display: flex;
  justify-content: center;
  align-items: center;

  img {
    width: 70px;
    height: 70px;
  }
}

.app__header-list {
  a {
    text-decoration: none;
  }

  .filterItem__indicator {
    width: 1.2em;
    height: 1.4em;
    background: var(--shape-primary);
    position: absolute;
    pointer-events: none;
    transform: translateX(-10px);
    transition: all 200ms cubic-bezier(0.455, 0.03, 0.515, 0.955);

    &.indicator__all {
      height: calc(1.4em * 3);	
    }
    &.indicator__1 {
      height: 1.4em;
    }
    &.indicator__2 {
      height: 1.4em;
      transform: translateX(-10px) translateY(1.2em);
    }
  }

  .linkItem__indicator {
    width: 1.2em;
    height: 1.4em;
    background: var(--shape-primary);
    position: absolute;
    pointer-events: none;
    transform: translateX(50px);
    transition: all 200ms cubic-bezier(0.455, 0.03, 0.515, 0.955);

    &.indicator__0 {
      background: transparent;
      transform: translateX(-10px) translateY(1.3em)
    }
    &.indicator__1 {
      transform: translateX(-10px) translateY(0em);
    }
        &.indicator__2 {
      transform: translateX(-10px) translateY(1.3em);
    }
        &.indicator__3 {
      transform: translateX(-10px) translateY(calc(1.3em * 2));
    }
  }

  .header__linkitem {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    font-family: var(--font-mono);
    font-weight: 400;
    padding: 0;
    margin: 0;
    font-size: 1.1rem;
    line-height: 1.2em;
    text-transform: uppercase;
    text-decoration: none;
    position: relative;
    z-index: 1;

    &:hover {
      text-decoration: line-through;
    }
    &.linkitem__primary {
      color: var(--text-primary);
    }
    &.linkitem__secondary {
      color: var(--text-secondary);
    }
  }

  .linkitem__placeholder {
    width: 1.2em;
    height: calc(1.2em * 2);
    background: transparent;
    pointer-events: none;
    transform: translateX(-10px);
    transition: all 400ms cubic-bezier(0.455, 0.03, 0.515, 0.955);

    &.linkitem__placeholder-hover {
      transform: translateX(-10px) translateY(1.2em);
      background: var(--shape-primary);
    }
  }
  .linkitem__active {
    &:hover {
      text-decoration: none;
    }
  }
}
