.app__postSection {
	height: 100%;
	width: 100%;
	padding: 0 4rem;
	max-width: 70rem;
	margin: 0 auto;
	transition: all 500ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
}

.postSection__postContainer {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
	width: 100%;
	height: 100%;
}

.postContainer__postTags {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
	width: 100%;

	.app__hover {
		font-family: var(--font-mono);
		font-size: 1rem;
		font-weight: normal;
		margin: 0 .5rem 0 0;

		&:hover {
			text-decoration: line-through;
		}
	}
}

.postContainer__postTitle {
	font-family: var(--font-title);
	font-size: 3rem;
	font-weight: bold;
	margin: 0.6rem 0 1rem 0;
}

.postContainer__postInfo {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
	width: 100%;
}

.postInfo__postAuthor, .postInfo__postDate {
	font-family: var(--font-mono);
	font-size: 1rem;
	font-weight: normal;
}

.postInfo__seperator {
	width: 0.6rem;
	height: 1px;
	background: var(--text-primary);
	margin: 0 .5rem;
	transform: translateY(1px);
	border-radius: 10rem;
}

.postContainer__postDesc {
	font-family: var(--font-body);
	font-size: 1.1rem;
	font-weight: normal;
	margin: 2rem 0 0 0;
}

.postContainer__seperator {
	width: 100%;
	height: 2px;
	background: var(--shape-primary);
	margin: 3rem auto;
}

.postContainer__postBody {
	font-family: var(--font-body);
	font-size: 1.1rem;
	font-weight: normal;
	margin: 0 0 2rem 0;
	width: 100%;

	.app__ul-selector {
		position: relative;
		display: inline-block;

		&:after {
			content: '';
			position: absolute;
			z-index: 0;
			width: 100%;
			height: .4rem;
			background-color: var(--shape-primary);
			bottom: 0;
			left: 0;
			transition: all 200ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
		}

		&:hover:after {
			height: 1.4rem;
			background-color: var(--accent-secondary);
		}

		a {
			position: relative;
			z-index: 1;
		}
	}

	.postBody__underlined {
		position: relative;
		display: inline-block;

		&:after {
			content: '';
			position: absolute;
			z-index: 0;
			width: 100%;
			height: .4rem;
			background-color: var(--shape-primary);
			bottom: 0;
			left: 0;
		}
	}

	a {
		text-decoration: none;
		color: var(--text-primary);
	}

	p {
		margin: .5rem 0;
		min-height: 1rem;

		strong {
			font-weight: bold;
		}
	}

	h1 {
		font-family: var(--font-title);
		font-size: 3rem;
		font-weight: bold;
		margin: 1.4rem 0 1rem 0;
	}

	h2 {
		font-family: var(--font-title);
		font-size: 2.4rem;
		font-weight: bold;
		margin: 1.4rem 0 1rem 0;
	}

	h3 {
		font-family: var(--font-title);
		font-size: 2rem;
		font-weight: bold;
		margin: 1.4rem 0 1rem 0;
	}

	h4 {
		font-family: var(--font-title);
		font-size: 1.6rem;
		font-weight: bold;
		margin: 1.4rem 0 1rem 0;
	}

	h5 {
		font-family: var(--font-title);
		font-size: 1.4rem;
		font-weight: bold;
		margin: 1.4rem 0 1rem 0;
	}

	h6 {
		font-family: var(--font-title);
		font-size: 1.1rem;
		font-weight: bold;
		margin: 1.4rem 0 1rem 0;
	}

	blockquote {
		font-family: var(--font-body);
		font-size: 1.2rem;
		font-weight: normal;
		margin: .4rem 0 .4rem 2.2rem;
		height: 100%;

		&:before {
			content: '“';
			font-size: 2rem;
			font-family: var(--font-body);
			font-weight: bold;
			position: absolute;
			transform: translateX(-1.4rem) translateY(-0.5rem);
		}
		&:after {
			content: '”';
			font-size: 2rem;
			font-family: var(--font-body);
			font-weight: bold;
			position: absolute;
			transform: translateX(.8rem) translateY(0.5rem);
		}
	}

	.postBody__codeBlock {
		white-space: pre-wrap;
		font-family: var(--font-code);
		font-size: 0.9rem;
		font-weight: normal;
		background-color: var(--background-secondary);
		padding: 1rem;
		margin: 1rem 0 1rem 0;
		border-radius: .2rem;
		box-shadow: 0 0 10px var(--shadow-secondary);
	}
}
