html,
.root__app {
  background-color: $color-background-primary;
  font-family: $font-body;
}

.app__section {
  flex: 1;
  flex-direction: column;
  height: 100%;
  width: 100%;
  max-width: 70rem;
  margin: 0 auto;
  padding: 0 4rem;
  overflow: visible;

  @media screen and (max-width: 600px) {
    padding: 0 1rem;
  }
}

.app__sectionLoading {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 1rem 0 1rem 0;
  max-width: 50rem;
  font-family: $font-mono;
  font-size: 1.2rem;
  font-weight: bold;
  text-transform: uppercase;
}
