.contentBody {
  .postContainer__contentBody & {
    font-family: $font-body;
    font-size: 1.1rem;
    font-weight: normal;
    margin: 0 0 3rem 0;
    width: 100%;

    a {
      text-decoration: none;
      color: $color-text-primary;
    }

    p:not(.contentBody__ul-selector) {
      margin: 0.6rem 0;
      min-height: 0.8rem;
      line-height: 1.8rem;

      strong {
        font-weight: bold;
      }
    }

    h1 {
      font-family: $font-title;
      font-size: 3rem;
      font-weight: bold;
      margin: 1.4rem 0 1rem 0;
    }

    h2 {
      font-family: $font-title;
      font-size: 2.4rem;
      font-weight: bold;
      margin: 1.4rem 0 1rem 0;
    }

    h3 {
      font-family: $font-title;
      font-size: 2rem;
      font-weight: bold;
      margin: 1.4rem 0 1rem 0;
    }

    h4 {
      font-family: $font-title;
      font-size: 1.6rem;
      font-weight: bold;
      margin: 1.2rem 0 0.6rem 0;
    }

    h5 {
      font-family: $font-title;
      font-size: 1.25rem;
      font-weight: bold;
      margin: 1.2rem 0 0.6rem 0;
    }

    h6 {
      font-family: $font-title;
      font-size: 1.1rem;
      font-weight: bold;
      margin: 1rem 0 0.6rem 0;
    }

    blockquote {
      font-family: $font-body;
      font-size: 1.2rem;
      font-weight: normal;
      margin: 0.4rem 0 0.4rem 2.2rem;
      height: 100%;

      &:before {
        content: '“';
        font-size: 2rem;
        font-family: $font-body;
        font-weight: bold;
        position: absolute;
        transform: translateX(-1.4rem) translateY(-0.5rem);
      }

      &:after {
        content: '”';
        font-size: 2rem;
        font-family: $font-body;
        font-weight: bold;
        position: absolute;
        transform: translateX(0.8rem) translateY(0.5rem);
      }
    }

    ul {
      margin: 0 0 0 2rem;

      li {
        line-height: 1.8rem;
        margin: 0.2rem 0;
      }
    }
  }

  &__underlined {
    position: relative;
    display: inline-block;

    &:after {
      content: '';
      position: absolute;
      z-index: 0;
      width: 100%;
      height: 0.4rem;
      background-color: $color-shape-primary;
      bottom: 0;
      left: 0;
    }
  }

  &__code--block {
    white-space: pre-wrap;
    font-family: $font-code;
    font-size: 0.9rem;
    font-weight: normal;
    background-color: $color-background-secondary;
    padding: 1rem;
    margin: 1rem 0 1rem 0;
    border-radius: 0.2rem;
    box-shadow: 0 0 10px $color-shadow-secondary;
    width: 98%;
  }

  &__code--inline {
    white-space: pre-wrap;
    font-family: $font-code;
    font-size: 0.9rem;
    padding: 0 0.4rem;
    font-weight: normal;
    background-color: $color-background-secondary;
    display: inline-block;
    border-radius: $border-radius-tertiary;
  }

  &__imageWrapper {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 1rem 0 1rem 0;
    max-width: 50rem;
    border: 1px solid $border-color-primary;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      padding: 0.5rem;
    }
  }

  &__ul-selector {
    position: relative;
    display: inline-block;
    padding: 0;
    margin: 0;

    a {
      position: relative;
      z-index: 1;
      color: $color-accent-primary;
      transition: all 200ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
    }

    &:after {
      content: '';
      position: absolute;
      z-index: 0;
      width: 100%;
      height: 2px;
      background-color: $color-shape-primary;
      color: $color-accent-primary;
      bottom: 0;
      left: 0;
      border-radius: $border-radius-tertiary;
      transition: all 200ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
    }

    &:hover {
      a {
        color: $color-text-primary;
      }

      &:after {
        height: 1.8rem;
      }
    }
  }
}
