.section-projects {
  &__upper {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 2rem;

    &-filters {
      a {
        text-decoration: none;
      }

      .filters__filter-item-indicator {
        width: 1.2em;
        height: 1.4em;
        background: $color-shape-primary;
        position: absolute;
        pointer-events: none;
        transform: translateX(-6px);
        transition: all 200ms cubic-bezier(0.455, 0.03, 0.515, 0.955);

        &.indicator__0 {
          height: 1.5em;
        }

        &.indicator__1 {
          height: 1.5em;
          transform: translateX(-6px) translateY(1.34em);
        }

        &.indicator__2 {
          height: calc(1.4em * 3.1);
        }
      }

      .filters__filter-item {
        font-family: $font-mono;
        font-weight: 400;
        padding: 0;
        margin: 0;
        font-size: 1.1rem;
        line-height: 1.3em;
        text-transform: uppercase;
        text-decoration: none;
        position: relative;
        z-index: 1;
        cursor: default;

        &:hover {
          cursor: pointer;
        }
      }
    }
  }
}
