$black: #0d0c0c;
$white: #ffffff;
$dark: #1e1c1b;
$light: #f2f2f2;

$neutral-0: #f2f0ed;
$neutral-100: #e4e0dc;
$neutral-200: #cfc9c2;
$neutral-300: #b5aca1;
$neutral-400: #595650;
$neutral-500: #383432;
$neutral-600: #2a2726;
$neutral-700: #1e1c1b;
$neutral-800: #181717;

$neutral-light: $neutral-100;
$neutral-dark: $neutral-500;

$orange-light: #ff4800;
$orange-dark: #e03400;
