.comicSans {
  .font-display,
  .font-code,
  .font-sans,
  .font-mono {
    font-family: 'Comic Neue', sans-serif !important;
    font-weight: 700;
  }
}

.font-display {
  // Defaults for display font
  h1 {
    font-size: 56px;
  }
  h2 {
    font-size: 40px;
    letter-spacing: 0.01em;
  }
  h3 {
    font-size: 36px;
    letter-spacing: 0.015em;
  }
  h4 {
    font-size: 28px;
    letter-spacing: 0.02em;
  }
  h5 {
    font-size: 20px;
    letter-spacing: 0.03em;
  }
  h6 {
    font-size: 16px;
    letter-spacing: 0.04em;
  }
}
