// @import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&family=Ubuntu+Mono:wght@400;700&family=Work+Sans&display=swap');

// TASA Orbiter Text
@font-face {
  font-family: "TASA Orbiter";
  src: url("/assets/fonts/tasa_orbiter/TASAOrbiterText-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "TASA Orbiter";
  src: url("/assets/fonts/tasa_orbiter/TASAOrbiterText-Medium.woff2") format("woff2");
  font-weight: medium;
  font-style: normal;
}
@font-face {
  font-family: "TASA Orbiter";
  src: url("/assets/fonts/tasa_orbiter/TASAOrbiterText-SemiBold.woff2") format("woff2");
  font-weight: semibold;
  font-style: normal;
}
@font-face {
  font-family: "TASA Orbiter";
  src: url("/assets/fonts/tasa_orbiter/TASAOrbiterText-Bold.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
}

// TASA Orbiter Display
@font-face {
  font-family: "TASA Orbiter Display";
  src: url("/assets/fonts/tasa_orbiter/TASAOrbiterDisplay-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "TASA Orbiter Display";
  src: url("/assets/fonts/tasa_orbiter/TASAOrbiterDisplay-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "TASA Orbiter Display";
  src: url("/assets/fonts/tasa_orbiter/TASAOrbiterDisplay-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "TASA Orbiter Display";
  src: url("/assets/fonts/tasa_orbiter/TASAOrbiterDisplay-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "TASA Orbiter Display";
  src: url("/assets/fonts/tasa_orbiter/TASAOrbiterDisplay-Black.woff2") format("woff2");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

// TASA Orbiter Deck
@font-face {
  font-family: "TASA Orbiter Deck";
  src: url("/assets/fonts/tasa_orbiter/TASAOrbiterDeck-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "TASA Orbiter Deck";
  src: url("/assets/fonts/tasa_orbiter/TASAOrbiterDeck-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "TASA Orbiter Deck";
  src: url("/assets/fonts/tasa_orbiter/TASAOrbiterDeck-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "TASA Orbiter Deck";
  src: url("/assets/fonts/tasa_orbiter/TASAOrbiterDeck-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

// Commit Mono
@font-face {
  font-family: "Commit Mono";
  src: url("/assets/fonts/commit_mono/CommitMono-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Commit Mono";
  src: url("/assets/fonts/commit_mono/CommitMono-Italic.woff2") format("woff2");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Commit Mono";
  src: url("/assets/fonts/commit_mono/CommitMono-Bold.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Commit Mono";
  src: url("/assets/fonts/commit_mono/CommitMono-BoldItalic.woff2") format("woff2");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}