@function ease-in-out($t) {
  @if ($t < 0.5) {
    @return 2 * $t * $t;
  } @else {
    @return -1 + (4 - 2 * $t) * $t;
  }
}

@function ease($t) {
  @return $t * $t;
}

@function ease-gradient($dir, $color1, $color2) {
  $stops: 20; // Number of stops for a smoother gradient
  $percentage-step: 100% / ($stops - 1);
  $gradient: '';

  @for $i from 0 through ($stops - 1) {
    $percentage: $i * $percentage-step;
    $eased-percentage: ease($percentage / 100);
    $interpolated-color: mix($color2, $color1, $eased-percentage * 100%);
    @if $i == 0 {
      $gradient: '#{$interpolated-color} #{$percentage}';
    } @else {
      $gradient: '#{$gradient}, #{$interpolated-color} #{$percentage}';
    }
  }

  $gradient-string: unquote('linear-gradient(#{$dir}, #{$gradient})');
  @return $gradient-string;
}
