$sm: '640px';
$md: '768px';
$lg: '1024px';
$xl: '1280px';
$xl2: '1536px';
$xl3: '1824px';

$breakpoints: (
  sm: '640px', // '40rem
  md: '768px', // '48rem'
  lg: '1024px', // '64rem'
  xl: '1280px', // '80rem'
  2xl: '1536px', // '96rem'
  3xl: '1824px', // '114rem'
) !default;
