@import 'colors';

@layer base {
  body {
    @apply h-full w-full overflow-x-hidden;
  }

  @layer base {
    body,
    html {
      height: 100vh;
      overflow: hidden;
      transition: background 150ms ease;

      @media print {
        height: fit-content;
        overflow: visible;
      }
    }

    body,
    html,
    div,
    span,
    p,
    img {
      box-sizing: border-box;
    }

    body {
      @apply bg-neutral-800 text-light;

      &.light {
        @apply bg-neutral-0 text-dark;
      }

      &:not(.is-loaded) {
        cursor: wait !important;

        & a,
        & button,
        & [role='button'] {
          cursor: not-allowed !important;
        }
      }

      &.is-loading {
        cursor: wait !important;

        & a,
        & button,
        & [role='button'] {
          cursor: not-allowed !important;
        }
      }
    }

    ::selection {
      @apply bg-orange-light/90 text-light;
    }

    .dark {
      ::selection {
        @apply bg-orange-light/90 text-dark;
      }
    }
  }
}

@layer utilities {
  .focus-outline {
    @apply outline-offset-4;

    &,
    &-sm {
      @apply focus-visible:outline-2 outline-orange-light;
    }

    &-sm {
      @apply outline-offset-2;
    }
  }

  .themed-scrollbar {
    scrollbar-width: thin;
    scrollbar-color: $neutral-200 transparent;

    .dark & {
      scrollbar-color: $neutral-400 transparent;
    }
  }
}

@layer components {
  .pt-ol {
    li {
      ol {
        @apply my-3 list-[lower-alpha];
      }
    }
  }

  .pt-ul {
    li {
      ul {
        @apply my-3 list-disc;
      }
    }
  }
}
