@use '../colors';

#hljs-container {
  > pre {
    white-space: break-spaces;
  }
  > div > table {
    max-width: 100%;

    > tbody > tr > td:nth-of-type(2) {
      word-wrap: anywhere;
    }
  }
}

tbody.hljs, .hljs {
  background-color: transparent !important;
}

tbody.hljs {
  @apply font-mono leading-5 text-sm;
}

code {
  &,
  &.hljs {
    @apply font-mono leading-5 text-sm;

    max-width: 100%;

    & {
      &::selection {
        background: colors.$orange-light !important;
        color: colors.$light !important;
      }
      .dark & {
        &::selection {
          background: colors.$orange-light !important;
          color: colors.$dark !important;
        }
      }
    }
  }
}
