#hljs-container > pre {
  white-space: break-spaces;
}

tbody.hljs, .hljs {
  background-color: transparent !important;
}

tbody.hljs {
  font-family: 'Ubuntu Mono', ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas,
    'Liberation Mono', 'Courier New', monospace !important;
  font-size: 1rem;
  line-height: 1.2rem;
}

code {
  &,
  &.hljs {
    font-family: 'Ubuntu Mono', ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas,
      'Liberation Mono', 'Courier New', monospace !important;
    font-size: 1rem;
    line-height: 1.2rem;
    max-width: 100%;

    & {
      &::selection {
        background: $accent-light !important;
        color: $light !important;
      }
      .dark & {
        &::selection {
          background: $accent-dark !important;
          color: $dark !important;
        }
      }
    }
  }
}
