.nav-desktop {
  @apply my-8 flex w-fit flex-col border-r border-dark/40;

  .nav-inner {
    @apply flex w-56 flex-1 flex-col justify-between;
  }

  .logo-container {
    @apply mx-auto -mt-2 mb-5 w-48;

    img {
      @apply h-full py-4 px-9;
      filter: url(#distortion);
    }
  }
  .border-line {
    @apply inline-block bg-dark/40;
    height: 1px;
    width: calc(100% + 2.25rem);
  }
  .links-container {
    @apply mx-9 flex flex-col;

    .links-inner {
      @apply flex flex-row flex-wrap items-center justify-center;
    }
  }
}

.dark {
  .nav-desktop {
    @apply border-light/40;
  }
  .border-line {
    @apply bg-light/40;
  }
  .logo-container {
    @apply invert;
  }
}
