// Color variables
$color-background-primary: #dce3e9;
$color-background-secondary: #c1c9d1;
$color-background-tertiary: #86898b;
$color-shape-primary: #b6bec481;
$color-shadow-primary: #5f5f5f38;
$color-shadow-secondary: #8d8d8d3f;
$color-shadow-tertiary: #acacac33;
$color-shadow-accent: #b48ee9a4;
$border-color-primary: #111111d0;
$color-text-primary: #111111;
$color-text-secondary: #646464;
$color-text-tertiary: #ffffff;
$color-accent-primary: #3751e7;
$color-accent-primary--darker: #263b81;
$color-accent-secondary: #51f89c;
$color-accent-secondary--darker: #33724b;
$color-general-black: #111111;
$color-general-white: #ffffff;
$color-general-gray: #808080;
