.app__projectsSection {
  flex: 1;
  flex-direction: column;
  height: 100%;
  width: 100%;
  max-width: 70rem;
  margin: 0 auto;
  padding: 0 4rem;
  overflow: visible;
  
  @media screen and (max-width: 600px) {
    padding: 0 1rem;
  }
}
