.app__workSection {
	flex: 1;
	flex-direction: column;
	height: 100%;
	width: 100%;
}

.app__workSection-grid {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: flex-start;
	column-gap: 4rem;
}
