name: Deploy app

on:
  workflow_call:
    secrets:
      VITE_SANITY_PROJECT_ID:
        required: true
      VITE_SANITY_TOKEN:
        required: true
      NETLIFY_SITE_ID:
        required: true
      NETLIFY_AUTH_TOKEN:
        required: true

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 22.14.0
      - uses: pnpm/action-setup@v4
        name: Install pnpm
        id: pnpm-install
        with:
          run_install: false
      - name: Use node_modules cache
        uses: actions/cache@v4
        id: nm-cache
        with:
          path: "svelte-app/node_modules"
          key: ${{ runner.os }}-npm-${{ hashFiles('svelte-app/pnpm-lock.yaml') }}
          restore-keys: |
            ${{ runner.os }}-nm-16-
      - name: Install Dependencies
        if: steps.nm-cache.outputs.cache-hit != 'true'
        run: (cd ./svelte-app && pnpm install --frozen-lockfile)
      - name: Build for production
        env:
          SVELTE_NETLIFY_ENV: netlify
          VITE_SANITY_PROJECT_ID: ${{ secrets.VITE_SANITY_PROJECT_ID }}
          VITE_SANITY_TOKEN: ${{ secrets.VITE_SANITY_TOKEN }}
          VITE_APP_VERSION: ${{ github.sha }}
        run: make prod
      - name: Deploy to Netlify
        env:
          NETLIFY_SITE_ID: ${{ secrets.NETLIFY_SITE_ID }}
          NETLIFY_AUTH_TOKEN: ${{ secrets.NETLIFY_AUTH_TOKEN }}
          SVELTE_NETLIFY_ENV: netlify
          VITE_SANITY_PROJECT_ID: ${{ secrets.VITE_SANITY_PROJECT_ID }}
          VITE_SANITY_TOKEN: ${{ secrets.VITE_SANITY_TOKEN }}
          VITE_APP_VERSION: ${{ github.sha }}
        run: cd ./svelte-app && pnpm netlify deploy --dir=./build --functions=./.netlify/functions-internal --prod
