name: CI - Sanity

on:
  push:
    branches: ["main"]
    paths-ignore:
      - "**/*.md"
      - "LICENSE"
      - "**/.husky"
      - "svelte-app/**"
      - "express-api/**"
      - "elixir-api/**"

concurrency:
  group: sanity
  cancel-in-progress: true

jobs:
  build:
    environment: Sanity
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 22.14.0
      - uses: pnpm/action-setup@v4
        name: Install pnpm
        id: pnpm-install
        with:
          run_install: false
      - name: Use node_modules cache
        uses: actions/cache@v4
        id: nm-cache
        with:
          path: "sanity-cms/node_modules"
          key: ${{ runner.os }}-npm-${{ hashFiles('sanity-cms/pnpm-lock.yaml') }}
          restore-keys: |
            ${{ runner.os }}-npm-
      - name: Install Dependencies
        if: steps.nm-cache.outputs.cache-hit != 'true'
        run: (cd ./sanity-cms && pnpm install)
      - name: Lint check
        run: (cd ./sanity-cms && pnpm lint)
      - name: Build for development
        run: (cd ./sanity-cms && SANITY_STUDIO_DATASET="dev" pnpm sanity build)
      - name: Deploy development studio
        env:
          NETLIFY_SITE_ID: ${{ secrets.NETLIFY_DEV_SITE_ID }}
          NETLIFY_AUTH_TOKEN: ${{ secrets.NETLIFY_AUTH_TOKEN }}
        run: (cd ./sanity-cms && pnpm netlify deploy --dir=./dist --prod)
      - name: Build for production
        run: (cd ./sanity-cms && pnpm sanity build)
      - name: Deploy production studio
        env:
          NETLIFY_SITE_ID: ${{ secrets.NETLIFY_SITE_ID }}
          NETLIFY_AUTH_TOKEN: ${{ secrets.NETLIFY_AUTH_TOKEN }}
        run: (cd ./sanity-cms && pnpm netlify deploy --dir=./dist --prod)
